body{
	position: relative;
	background-color: #2e363f;
	padding: 0;
}
/*登录界面*/
.login_con{
	margin-top: 10%;
}
#login_box{
	overflow: hidden !important;
	text-align: left;
	position: relative;
	margin: 0 25%;
}
#loginform{
	border-top: 1px solid #3F4954;
}
#login_box .form_hd{
	padding: 15px 10px;
	text-align: center;
	line-height: 20px;
}
#login_box label{
	font-size: 16px;
	color: #FFF;
	padding-left: 10px;
}
#login_box .psw_box{
	margin-top: 35px;
}
#login_box .sub_box{
	border-top: 1px solid #3F4954;
	margin: 0 8.333%;
	margin-top: 20px;
	padding-top: 20px;
}
#login_box .sub_box .button1{
	margin-left: 10px;
}
#login_box .sub_box .button2{
	margin-right: 10px;
}
/*后台管理界面*/
#header{
	height: 80px;
	position: relative;
	width: 100%;
	background-color: #1f262d;
}
#header h3{
	margin: 0;
}
#header h3 img{
	height: 40px;
	margin: 15px 30px;
}
#user-nav{
	position: absolute;
	top: 0;
	right: 15px;
	background: #1f262d;
}
#user-nav > ul{
	padding: 0;
	border-right: 1px solid #2e363f;
	border-left: 1px solid #000;
}
#user-nav > ul > li{
	float: left;
	line-height: 25px;
	margin: 0;
	position: relative;
	padding: 0;
	border-left: 1px solid #2e363f;
	border-right: 1px solid #000;
}
#user-nav >ul > li > a{
	color: #A1A1A1;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
#user-nav >ul > li > a:hover,#user-nav >ul > li > a:focus{
	color: #fff;
	background: #000;
}
#user-nav > ul ul > li > a{
	padding: 3px 10px;
	color: #666;
	font-size: 12px;
	text-align: left;
}
#sidebar{
	display: block;
	position: relative;
	width: 220px;
}
#sidebar> ul{
	border-bottom: 1px solid #37414b;
	width: 220px;
	margin: 0;
	padding: 0;
}
#sidebar li{
	line-height: 20px;
}
#sidebar> ul >li{
	display: block;
	position: relative;
	border-top: 1px solid #37414b;
	border-bottom: 1px solid #1f262d;
}
#sidebar> ul >li > a{
	padding: 10px 0 10px 15px;
	display: block;
	color: #939da8;
	text-decoration: none;
}
#sidebar> ul >li.active > a{
	background: #27a9e3 url("../images/menu-active.png") no-repeat right center;
	color: #FFF;
}
#sidebar> ul >li > a:hover{
	background: #27a9e3;
	color: #FFF;
}
#sidebar> ul >li > a > i{
	margin-right: 10px;
}
#sidebar> ul >li ul{
	display: none;
	background: #1e242b;
}
#sidebar> ul >li ul a{
	display: block;
	color: #939da8;
	padding: 10px 0 10px 25px;
}
#sidebar> ul >li ul a:hover{
	color: #FFF;
	background: #28b779;
}
#content{
	background: none repeat scroll 0 0 #eeeeee;
	position: absolute;
	top: 80px;
	left: 220px;
	width: calc(100% - 220px);
	min-height: 100%;
	padding-bottom: 25px;
	z-index: 50;
}
#content-header{
	width: 100%;
	margin-top: -35px;
	z-index: 20;
}
#breadcrumb{
	background: #FFF;
	border-bottom: 1px solid #e3ebed;
}
#breadcrumb span{
	padding: 5px 20px 5px 15px;
	display: inline-block;
	font-size: 14px;
	color: #666;
}
#content-header h2{
	margin-top: 20px;
	color: #555;
	float: none;
	text-shadow: 0 1px 0 #FFF;
	margin-left: 20px; 
}
#content hr{
	border-top-color: #dadada;
}
#content th{
	text-align: center;
	font-size: 14px;
	color: #666;
	background: #EFEFEF;
}
#content td{
	text-align: center;
	line-height: 33px;
	font-size: 14px;
}
#content tr{
	background: #F9F9F9;
}
#content tr:hover{
	background-color: #eee;
}
#content label{
	font-size: 16px;
}
#content .lab_cen{
	float: left;
}
#content .line-graph{
	height: 380px;
	margin-top: 50px;
	background: #F9F9F9;
}
#myChart{
	width: 80%;
}
#content .explain{
	background: #000;
	float: right;
}